@model IEnumerable<GR.Domains.Game>
@using GR.Domains.Enum
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GameRentals!</h1>
    <p>Rent your favorite games for cheap!</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search..." });
            </div>
            <div class="form-group col-md-2">
                @Html.DropDownList("filter", new SelectList(Enum.GetValues(typeof(Genre))),
                "Genre...", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-2">
                @Html.DropDownList("filter2", new SelectList(Enum.GetValues(typeof(Platform))),
                "Platform...", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    }
    <div class="row gameRow">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="@item.ImgLink" alt="@item.Title" width="125" height="325">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    @{ var x = "";
                        foreach (var p in item.PlatformList)
                        {
                            var platform = p.Platform + " ";
                            x = x + platform;
                        }
                        var y = "";
                        foreach (var g in item.GenreList)
                        {
                            var genre = g.Genre + " ";
                            y = y + genre;
                        }
                        <p class="card-text">Platforms: @x</p>
                        <p class="card-text">Genres: @y</p>
                    }
                    <a asp-action="Create" asp-controller="Order" asp-route-id="@item.Id">Order</a>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .gameRow {
        justify-items: center;
    }
    .card {
        margin: 5px;
        justify-self: center;
    }

    .form-row {
        justify-content: center;
    }
</style>
