@model IEnumerable<GR.Domains.Order>
@using GR.Domains.Enum

@{
    ViewData["Title"] = "All Orders";
}

<h3>All Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string trStyle;
            switch (item.OrderStatus)
            {
                case OrderStatus.Canceled:
                    trStyle = "alert-danger";
                    break;
                case OrderStatus.Completed:
                    trStyle = "alert-success";
                    break;
                default:
                    trStyle = "alert-secondary";
                    break;
            }
            <tr class=@trStyle>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Update</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>